<!-- FLECHAS COMENZAR -->
<div class="container">    
    <div id="arrowAnim" class="comenzar">
        <h1 class="texto">¡Comencemos!</h1>
        <div class="arrowSliding">
        <div class="arrow" routerLink="/onboarding1"></div>
        </div>
        <div class="arrowSliding delay1">
        <div class="arrow" routerLink="/onboarding1"></div>
        </div>
        <div class="arrowSliding delay2">
        <div class="arrow" routerLink="/onboarding1"></div>
        </div>
        <div class="arrowSliding delay3">
        <div class="arrow"routerLink="/onboarding1"></div>
        </div>
    </div>
</div>
<!-- PRIMERA SLIDE -->
<!-- <div class="body"> 
    <div class="container" *ngIf="page===1">
        <img src="../../../assets/img/carr1.png" style="max-width: 30vh; max-height: 45vh; margin-top: -15vh;">
        <hr>
        <p style="text-align: justify; padding-left: 5vh; padding-right: 5vh">En la página Home podrás consultar los eventos creados y filtrar según tus gustos</p>
        <a (click)="prevPage()" class="arrow left"></a>
        <a (click)="nextPage()" class="arrow right"></a>
        <span class="circle" style="margin-top: 50vh;">
            <i class="fa fa-arrow-down" ></i>
          </span>
        
    </div>
</div>  -->

<!-- SEGUNDA SLIDE -->
<!-- <div class="body"> 
    <div class="container" *ngIf="page===2">
        <img src="../../../assets/img/carr1.png" style="max-width: 30vh; max-height: 45vh; margin-top: -15vh;">
        <hr>
        <p style="text-align: justify; padding-left: 5vh; padding-right: 5vh">En la página Home podrás consultar los eventos creados y filtrar según tus gustos</p>
        <a (click)="prevPage()" class="arrow left"></a>
        <a (click)="nextPage()" class="arrow right"></a>
        <span class="circle" style="margin-top: 50vh;">
            <i class="fa fa-arrow-down" ></i>
        </span>
        <i class="fa fa-arrow-down" (click)="nextPage()"></i>
    </div>
</div>  -->




  