@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

/* {
    margin-bottom: 8%;
    font-weight: 800;
    margin-left: 5%;
} */
.title {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
hr{
    margin-top: 2%;
    margin-bottom: 9%;
}
.mb-3{
    /* margin-left: 5%; */
    font-family: Sintony;
    /* font-size: 0.8rem; */
    font-size: 82%;
    font-weight: 900;
    /* max-width: 90%; */
    padding: 5%;
    margin-top: -10%;
}
.form-control{
    /* margin-left: 5%; */
    font-family: Sintony;
    font-size: 86%;
    font-weight: 500;
    /* max-width: 90%; */
    /* padding: 5%; */
    height: fit-content;
    margin-top: 1%;
}
.form-switch{
    font-family: Sintony;
    font-size: 0.8rem;
    font-weight: 900;
    max-width: 90%;
    padding: 5%;
    margin-top: -5%;
    margin-left: 15%;
    margin-bottom: 5%;
}
.checkInline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    align-items: flex-start;
    margin-left: -2.5vh;

}
/* input{
    border-radius: 2%;
} */
.myForm{
    background-color: var(--bgColor);
    margin-bottom: 10%;
    padding: 7%;
    padding-bottom: 14vh;
    margin-top: 16%;
}
.header{
    background-color: var(--bgColor);
}

.form-check-label{
    margin-top: 0.7vh;
    margin-left: 1vh;
}
/* .form-check-input{
    margin-bottom: -30vh;
} */
button{
    height: auto;
    width: 77.5vw;
    height: 40px;
    border-radius: 0.25rem;
    border: none;
    /* background-color: ; */
    background: linear-gradient(180deg, #313131 0%, #000000 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--fontColor2);

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2.6vh;
}
/* imput{
    margin-top: 4%;
    margin-bottom: 4%;
} */