@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

/* {
    margin-bottom: 8%;
    font-weight: 800;
    margin-left: 5%;
} */
main{
  /* background-color: var( --fondoOscuro); */
  color: white;
  padding: auto;
  /* margin-bottom: 20vh; */

}
.title {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
hr{
    margin-top: 2%;
    margin-bottom: 9%;
}
.mb-3{
    /* margin-left: 5%; */
    font-family: Sintony;
    /* font-size: 0.8rem; */
    font-size: 82%;
    font-weight: 900;
    /* max-width: 90%; */
    padding: 5%;
    margin-top: -10%;
}
.form-control{
    /* margin-left: 5%; */
    font-family: Sintony;
    font-size: 86%;
    font-weight: 500;
    /* max-width: 90%; */
    /* padding: 5%; */
    height: fit-content;
    margin-top: 1%;
}
.form-switch{
    font-family: Sintony;
    font-size: 0.8rem;
    font-weight: 900;
    max-width: 90%;
    padding: 5%;
    margin-top: -5%;
    margin-left: 15%;
    margin-bottom: 5%;
}
.checkInline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    align-items: flex-start;
    margin-left: -2.5vh;

}
/* input{
    border-radius: 2%;
} */
.myForm{
    background-color: var(--fondoOscuro);
    
    padding: 7%;
    /* padding-bottom: 24vh; */
    margin-top: 16%;
    padding-bottom: 30%;
}
.header{
    background-color: var(--fondoOscuro);
}


.form-check-label{
    margin-top: 0.7vh;
    margin-left: 1vh;
}
/* .form-check-input{
    margin-bottom: -30vh;
} */
.button{
    height: auto;
    width: 77.5vw;
    height: 40px;
    border-radius: 0.25rem;
    background-color: var(--fontColor);
    color: var(--fontColor2);
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2.6vh; 
    border: #fff;
    background: black;
    box-shadow: 0.1px 0.1px 1vh var(--primaryButton);
    color: var(--fontColor2); 
    background: linear-gradient(180deg, #000 -2%, #171717 90%);     
}
/* imput{
    margin-top: 4%;
    margin-bottom: 4%;
} */