<form class="myForm">
    <h1 class="title">Añadir evento</h1>
    <hr>
        <div class="mb-3">
            <label for="imagen" class="form-label">Escribe la URL de la imagen que quieras adjuntar al evento: </label>
            <input type="text" class="form-control" #img id="imagen">
        </div>
        <div class="mb-3">
            <label for="titulo" class="form-label">Título del evento: </label>
            <input type="text" class="form-control" #titulo id="titulo">
        </div>
        <div class="mb-3">
            <label for="deporte" class="form-label">Deporte: </label>
            <input type="text" class="form-control" #deporte id="deporte">
        </div>
        <div class=" row mb-3">
            <label for="fecha" class="col-sm-2 col-form-label">Fecha: </label>
            <div class="col-sm-10">
                <input type="date" class="form-control" #fecha id="fecha">
            </div>            
        </div>
        <div class="row mb-3">
            <label for="hora" class="col-sm-2 col-form-label">Hora: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" #hora id="hora">
            </div>            
        </div>
        <div class="mb-3">
            <label for="localidad" class="form-label">Localidad: </label>
            <input type="text" class="form-control" #localidad id="localidad">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion: </label>
            <input type="text" class="form-control" #direccion id="direccion">
        </div>
        <div class="row mb-3">
            <label for="nPersonas" class="col-sm-2 col-form-label">Personas necesarias: </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" #personas id="nPersonas">
            </div>
        </div>
        <div class="checkInline">
            <div class="form-switch">
                <input class="form-check-input" role="switch" type="checkbox" #material id="inlineCheckbox1" class="form-check-input" checked="1" style="width:3.5em; height:1.75em">
                <label class="form-check-label" for="inlineCheckbox1">Material necesario</label>
            </div>
            <div class="form-switch">
                <input class="form-check-input" role="switch" type="checkbox" #pago id="inlineCheckbox2" checked="1" style="width:3.5em; height:1.75em">
                <label class="form-check-label" for="inlineCheckbox2">Pago necesario</label>
            </div>
        </div>
        <!-- <div class="mb-3">
            <label for="rangoEdad" class="form-label">Rango de edad: </label>
            <input type="text" class="form-control" #edad id="rangoEdad">
        </div> -->
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea class="form-control" #descripcion id="descripcion" rows="4"></textarea>
        </div>
    <button type="button" class="btn btn-dark"(click)="createEvent(img.value, titulo.value, deporte.value, fecha.value, hora.value, localidad.value, direccion.value, personas.value, material.checked, pago.checked, descripcion.value)" [routerLink]="['/home']" routerLinkActive="router-link-active" >Crear evento</button>
</form>

