<div class="recoverContainer">
  <div class="divLogo">
    <img src="../../../assets/img/logo2.png" alt="Logo de la app" class="imgLogo">
  </div>
  <div class="col-12">
    <form #recoverForm="ngForm" (ngSubmit)="recoverForm" class="rounded-3 ">
      <div class="form-group mb-3 mailForm centro">
        <p for="email" class="labelText">Email</p>
        <input type="text" name="email" class="form-control" id="email" placeholder="example@email.com"
          [(ngModel)]="recover.mail" #email="ngModel"
          [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" required email>
        <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']">
            <p>El email es campo obligatorio</p>
          </div>
          <p *ngIf="email.errors?.['email']">El email tiene ser de formato email</p>
        </div>
      </div>

    </form>
  </div>
  <div class="bottomLinks">
    <div class="center">
      <button class="w-75 btn btn-lg btn-black" (click)="recoveryPassword(email.value)">Recuperar contraseña</button>
    </div>
    <div class="center">
      <p class="">¿Estás registrado? <a routerLink="/login" class="link">Accede a tu cuenta</a></p>
      <br>
    </div>
  </div>
</div>