<div class="recoverContainer">
    <div class="divLogo">
        <img src="../../../assets/img/logo.png" alt="Logo de la app" class="imgLogo">
    </div>
    <div class="col-12 container">
        <form #recoverForm="ngForm" (ngSubmit)="recoverForm" class="rounded-3 ">
          <div class="form-group mb-3 mailForm">
            <p for="email" class="labelText">Email</p>
            <input type="text" name="email" class="form-control" id="email" placeholder="example@email.com">
          </div>
          <div class="bottomLinks">
                <div class="center">
                    <button class="w-75 btn btn-lg btn-black">Recuperar contraseña</button>
                </div>
                <div class="center">
                    <p class="text-muted">¿Estas registrado? <a routerLink="/login" class="link">Accede a tu cuenta</a></p>
                </div>
          </div>
        </form>
    </div>
  </div> 
  
