  
    <h1 class="Title">¿En que podemos ayudarte?</h1>
    <hr class="hr">
    <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div class="edit-data">
                    <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%;">
                        ¿Como puedo Registrarme?
                    </a>
                </div> 
            </header>   
        </article>
        <article>
              <div class="collapse" id="collapseExample1">
                <div class="card card-body" id="card">
                  
                    <p> Te damos la bienvenida a la comunidad. 
                        Eso sí, antes debes crearte una cuenta de Irateams gratuita. 
                        Crear una cuenta de Irateams es un proceso rápido y sencillo para todo el mundo, 
                        y en apenas unos minutos tendrás ante ti un inmenso abanico de actividades interesantes 
                        en tu zona. ¡Hagámoslo! Nos apasiona la idea de que quieras formar parte de nuestro universo.
                        Para crear una cuenta de Irateams haz clic en la opción Registrarse que se encuentra en la 
                        esquina superior derecha de la pantalla. Para crear una cuenta de Irateams desde tu 
                        dispositivo Android o iOS, descarga la aplicación, ábrela y toca la opción Registrarse. 
                        Registrarse resulta tan sencillo como divertido es quedar con la gente.</div>
              </div>
        </article>
     </section>
     <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div class="edit-data">
                    <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%;">
                        ¿Como añadir evento?
                    </a>
                </div> 
            </header>   
        </article>
        <article>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  
                    <p>Si deseas crear un nuevo evento, deberás estar registrad@ en nuestra aplicación, 
                        si ya lo estas, ya solo tendrías que ir hasta el botón de crear evento (es el 
                        botón rojo con un + dentro), una vez te encuentres en la pagina, ya solo tendrás que rellenar
                        los campos y guardar el evento. ¡En poco tiempo estarás disfrutando de un buen día de deporte
                        con el equipo que soñabas! </p></div>
              </div>
        </article>
     </section>
     <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div class="edit-data">
                    <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%;">
                        Contactar con el organizador del evento
                    </a>
                </div> 
            </header>   
        </article>
        <article>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  
                    <p> Cuando tienes cualquier pregunta, lo mejor es contactar con los organizadores
                        del evento, para ello en Irateams tenemos un magnifico chat! 
                        Para la comunicación en los grupos, el chat de Irateams va a ser el método más eficaz (y seguro).
                        </div>
              </div>
        </article>
     </section>
     <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div class="edit-data">
                    <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%;">
                        ¿Como ver mi historial?
                    </a>
                </div> 
            </header>   
        </article>
        <article>
              <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                  
                    <p> ¡En Irateams os damos la opción de poder ver eventos ya pasados! En pocos pasos 
                        estarás recordando antiguos eventos! En la esquina superior derecha encontraras 
                        tu perfil, si pulsas encontraras tu historial! </p></div>
              </div>
        </article>
     </section>
     <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div class="edit-data">
                    <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%;">
                        ¿Como ver mis eventos?
                    </a>
                </div> 
            </header>   
        </article>
        <article>
              <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                  
                    <p> ¡En Irateams os damos la opción de poder ver todos los eventos a los que estas apuntadx!
                        Lo puedes ver desde la página de mis eventos, o sino desde calendario, si eliges esta opción tendrás 
                    la suerte de poder usar la opción que os facilitamos para poder buscar eventos por fecha.</p></div>
              </div>
        </article>
     </section>
     <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div class="edit-data">
                    <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%;">
                        Políticas y reglas de Irateams
                    </a>
                </div> 
            </header>   
        </article>
        <article>
              <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                  
                    <p> Todos los miembros deben ser sinceros sobre su identidad y 
                        sobre cuáles son sus intenciones y afiliaciones.
                         Las descripciones de los eventos de Irateams deben 
                         ser precisas para que los miembros tengan toda la información 
                         posible para poder decidir si desean participar.
                         Está prohibido crear perfiles falsos o que traten de suplantar a otra persona y cuentas malintencionadas.
                         Se considera spam al envío de cualquier contenido que sea irrelevante, impersonal, no solicitado, promocional o repetitivo.
                         Las burlas, el acoso, la explotación y los actos de odio afectan negativamente a
                        la creación de comunidades seguras con un ambiente de confianza y tolerancia.
                        Construir relaciones reales nos exige ser más compasivos y amables los unos con los otros.
                        Irateams no tolerará los comportamientos amenazantes, malintencionados ni perjudiciales
                         hacia otras personas, tanto física como emocional o psicológicamente.
                         <br>
                         <br>
                         <br>
                         <br>
                     </p></div>
              </div>
        </article>
     </section>
   
              
