
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fontColor);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.5vh;
    width: 9vh;
    height: 9vh;
    border-radius: 100%;
    border: none;
    background-color: var(--mainColor);
    color: var(--fontColor2);
}

.buttons {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2vh;
}

.butt {
    margin-bottom: 2vh;
}

#maps {
    margin-right: 2vh;
}

#calendar {
    margin-left: 2vh;
}

#chat {
    margin-bottom: 0.5vh;
}

.primaryButton {
    fill: var(--secundaryButton);
}

.secundaryButton {
    fill: var(--primaryButton);
}



/* .button {
    width: 90vh;
    height: 0px;
    border-radius: 60px;
    background-color: var(--fontColor2);
} */

