
  <!--START FOOTER-->

  <footer class="footer">

    <button class="addbutton" type="button" routerLink="create-event">
        <svg xmlns="http://www.w3.org/2000/svg" width="12vh" height="12vh" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
    </button>

    <section class="buttons">
        <div class="butt" routerLink="home">
            <svg [ngClass]="this.location.path() === '/home' ? 'primaryButton':'secundaryButton'" xmlns="http://www.w3.org/2000/svg"  width="10vw" height="10vw" fill="#D9D9D9" class="bi bi-house-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                <path fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg>
        </div>
        <div class="butt" id="maps" routerLink="maps">
            <svg [ngClass]="this.location.path() === '/maps' ? 'primaryButton':'secundaryButton'" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vw" fill="#D9D9D9" class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
        </div>
        <div class="butt" id="calendar" routerLink="calendar">
            <svg [ngClass]="this.location.path() === '/calendar' ? 'primaryButton':'secundaryButton'" xmlns="http://www.w3.org/2000/svg" width="9vw" height="9vw" fill="#D9D9D9" class="bi bi-calendar-fill"
                viewBox="0 0 16 16">
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <div class="butt" id="chat" routerLink="chats">
            <svg [ngClass]="this.location.path() === '/chats' ? 'primaryButton':'secundaryButton'" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vw" fill="#D9D9D9" class="bi bi-chat-right-fill"
                viewBox="0 0 16 16">
                <path
                    d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
            </svg>
        </div>
    </section>
</footer>

<!--END FOOTER-->