<nav class="navbar navbar-green fixed-top" style="height: 12vh;">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="img-responsive" src="../../../assets/img/logoHeader.png" style="width: 150px; height: 75px; margin-top: -12px;margin-left: 5%;" routerLink="home">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="person-lines-fill" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
        </svg>
      </button>
      <div class="offcanvas menuLateral rounded-3 offcanvas-end" style="max-width: 65%;" tabindex="-1 " id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="img-responsive"></h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <div *ngIf="login === true; else esFalso" >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/profile" data-bs-dismiss="offcanvas" style="font-size: 16px; margin-top: 4%;">Mi perfil</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/my-created-events" data-bs-dismiss="offcanvas" style="font-size: 16px">Mis eventos creados</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/my-save-events" data-bs-dismiss="offcanvas" style="font-size: 16px">Mis eventos guardados</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/past-events" data-bs-dismiss="offcanvas" style="font-size: 16px">Mi historial</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/onboarding" data-bs-dismiss="offcanvas" style="font-size: 16px">Tutorial</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="faqs" data-bs-dismiss="offcanvas" style="font-size: 16px">FAQs</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/tech-support" data-bs-dismiss="offcanvas" style="font-size: 16px">Soporte</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/about-us" data-bs-dismiss="offcanvas" style="font-size: 16px">Conócenos</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home" data-bs-dismiss="offcanvas" (click)="cerrarSesion()" style="font-size: 16px; position:fixed; bottom: 5%;">Cerrar sesión</a>
            </li>
            </div>
            <ng-template #esFalso>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="login" data-bs-dismiss="offcanvas" style="font-size: 16px; margin-top: 4%;">Iniciar sesión</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="onboarding" data-bs-dismiss="offcanvas" style="font-size: 16px">Tutorial</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="faqs" data-bs-dismiss="offcanvas" style="font-size: 16px">FAQs</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="tech-support" data-bs-dismiss="offcanvas" style="font-size: 16px">Soporte</a>
              </li>
              <hr style="margin-top: 0%;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/about-us" data-bs-dismiss="offcanvas" style="font-size: 16px">Conócenos</a>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </nav>