*{
    outline: none !important;
    background-color: var(--fondoOscuro);
}

h1{
    color: var(--fontColor2);
}

.calendar {
    display: flex;
    justify-content: center;
    margin-top: 12.5vh;
    width: 100vw;
    height: 42vh;
  
}
  
.wrapper-calendar{
    width: 90vw;
    height: 40vh;
    margin: 2vh;
    padding: 1vh;
    /* border: 1px solid #eaeaea; */
    border-radius: 0.25rem;
    box-shadow:  0px 0px 1vh var(--primaryButton);
    text-align: center;
}

.header-calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 7vh;
}
    
.header-calendar h1 {
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.header-calendar button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
}
    
ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: transparent;
}
    
li {
    padding: .25rem;
    font-size: 1.5ch;
    cursor: pointer;
}
    
li:hover{
    font-weight: 600;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
    color: var(--fontColor2);
}
    
.first-day {
    grid-column-start: var(--first-day-start, 0);
}
    
.day-name {
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: flex-start;
    margin-left: 1vh;
}

.numberColor {
    font-weight: bolder;
    border: 1px solid var(--secundaryButton);
    border-radius: 5px;
}

.eventDay{
    border: 1px solid var(--fontColor2);
    border-radius: 5px;
}

.todayEvent{
    font-weight: bolder;
    border: 1px solid var(--secundaryButton);
    border-radius: 5px;
}

.cardeventslist {
    text-align: left;
    padding: 1vh;
    margin-top: -2vh;
    padding-bottom: 16vh;
}

.card {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
    width: 97%;
    padding: 3vh;
    box-shadow: 1px 1px 1vh var(--primaryButton);
    margin: 3vh;
    margin-left: 1vh;
    color: var(--fontColor2);
}

.orden {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.etiquetas{
    display: flex;
    flex-direction: row;
}
.resultado{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: -50%;
    text-align: left;
}

.bi-arrow-right-circle-fill{
    color: white;
}
.container-fluid{
    background-color:var(--fondoOscuro) ;
}
.bi-arrow-right-circle-fill{
    color: white;
}
span{
    color: white;
}