<!-- PRIMERA SLIDE -->
<div class="body"> 
    <div class="container">
        <img src="../../../../assets/img/captHome.png" style="max-width: 30vh; max-height: 45vh; margin-top: -18vh; border-radius: 0.25rem; border-color: black; box-shadow: 10px;">
        <hr>
        <p style="text-align: justify; padding-left: 5vh; padding-right: 5vh">En "Home" podrás ver todos los eventos activos y filtrar según lo que quieras hacer en el momento</p>
        <!-- <a routerLink="/onboarding" class="arrow left"></a> -->
        <a routerLink="/onboarding2" class="arrow right"></a>
        <span class="circle" style="margin-top: 50vh;">
            <!-- <i class="fa fa-arrow-down" ></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="8vh" height="10vh" fill="currentColor" class="bi bi-arrow-down fa" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </span>
    </div>
    <div class="focus"></div>
</div> 
