<body>
    <section class="img-user">
        <img src="" alt=""> 
    </section>
    
    <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div id="title">
                    <h3 >Datos evento</h3>
                </div>
                <!-- <div id="link">
                   <a href="" id=""><h3>Editar datos</h3></a> 
                </div> -->
                
                
            </header>
            <div>
                <p>Deporte: </p>
                <p>Lugar y hora: </p>
                <p>Gente: </p>
                <p>Pago: </p>
                <p>Material: </p>
                <p>Descripcion: </p>
            </div>

        </article>
        <article class="content-buttons">
            <button  type="button">Apuntarme/Borrarme</button>
            <button  type="button">Chat</button>
            

        </article>

    </section>


</body>

<!-- <p>profile works!</p> -->


