.myForm{
    background-color: var(--fondoOscuro);
    color: white;
    margin-bottom: -18%;
    padding: 7%;
    padding-bottom: 17%;
    padding-top: 13vh; 
}
.form-control{
    max-width: 90%;
    margin-left: 5%;
    padding-top: 3%;
}
.form-label{
    max-width: 90%;
    margin-left: 5%; 
    padding-top: 5%;
}
h2, h3{
    max-width: 90%;
    margin-left: 5%;  
    font-weight: 500;
    margin-bottom: -1.5vh;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    font-size: 20px;
}
hr{
    margin-top: 2vh;
    margin-bottom: 1vh;
}
button{
    height: auto;
    border-radius: 0.25rem;
    background-color: var(--fontColor);
    color: var(--fontColor);
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10%;
    width: 80%;
    background-color: var(--secundaryButton);
    box-shadow: none;  
}