<form class="myForm" style="height:100%">    
    <h1 class="title">¿Tienes problemas con el uso de la aplicación?</h1>
    <hr>
    <h3>Contacta con nosotros en el siguiente formulario</h3>
    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" placeholder="correo@ejemplo.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Escribe aquí tu consulta:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>
    <button type="button" class="btn btn-dark">Enviar</button>
</form>
