.myForm{
    background-color: var(--bgColor);
    margin-bottom: -18%;
    padding: 7%;
    padding-bottom: 17%;
    padding-top: 13vh; 
}
.form-control{
    max-width: 90%;
    margin-left: 5%;
    padding-top: 3%;
}
.form-label{
    max-width: 90%;
    margin-left: 5%; 
    padding-top: 5%;
}
h2, h3{
    max-width: 90%;
    margin-left: 5%;  
    font-weight: 500;
    margin-bottom: -1.5vh;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    font-size: 20px;
}
hr{
    margin-top: 2vh;
    margin-bottom: 1vh;
}
button{
    height: auto;
    width: 77.5vw;
    height: 40px;
    border-radius: 0.25rem;
    border: none;
    /* background-color: ; */
    background: linear-gradient(180deg, #313131 0%, #000000 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--fontColor2);

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2.6vh;
}