<main>
    <section class="img-user ">
        <div class="img-content">
            <img src="{{user.urlFoto}}" id="img2" >  
        </div> 
    </section>

    <section class="content">
        <article class="data">
            <article class="data-content">
                <div class="data-content-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </div>
                <div class="data-content-content2">
                    <div>
                        {{this.user.nombreCompleto}}
                    </div>
                    <div>
                        {{this.user.fechaNacimiento | date:'shortDate'}}
                    </div>
                    <div>
                        @{{this.user.username}}
                    </div>
                </div>

            </article>
            <article class="data-content slash">
                <div class="data-content-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                      </svg>
                </div>
                <div class="data-content-content2">
                    <div>
                        {{this.user.mail}}
                    </div>
                    
                </div>
            </article>
    

            <article class="data-content">
                <div class="data-content-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                </div>
                <div class="data-content-content2">
                    <div>
                        {{user.telefono}}
                    </div>
                </div>
            </article>

        </article>
        <article class="content-text">
            <header class="content-text-header">
              
                <div class="edit-data">
                    <a  class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Editar datos
                    </a>
                </div>
                
            </header>
            
        </article>

        <article>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form #editarPerfilForm = "ngForm" (ngSubmit)="editarPerfilForm">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Url foto de perfil: </label>
                            <input type="text" id="urlFoto" #urlFoto class="form-control" [value]="user.urlFoto">
                        </div>
                        <div class="mb-3">
                            <label for="nombreCompleto" class="form-label">Nombre completo: </label>
                            <input type="text" id="nombreCompleto" #nombreCompleto class="form-control" [value]="user.nombreCompleto">
                        </div>
                        <div class="mb-3">
                            <label for="userName" class="form-label">Nombre Usuario: </label>
                            <input type="text" id="userName" #username class="form-control" [value]="user.username">
                        </div>
                        <div class="mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento: </label>
                            <input type="date" id="fechaNacimiento" #fechaNacimiento class="form-control" value="{{date}}">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Número teléfono: </label>
                            <input type="text" id="telefono" #telefono class="form-control" [value]="user.telefono">
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Email: </label>
                            <input type="text" id="mail" #mail class="form-control" [value]="user.mail">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña: </label>
                            <input type="password" id="pass" #password class="form-control"> 
                        </div>
                        <div class="mb-3">
                            <label for="newpass" class="form-label">Nueva contraseña: </label>
                            <input type="password" id="newpass" #newPassword="ngModel" class="form-control"
                             name="password" [(ngModel)]="newpass" [ngClass]="{'is-invalid': newPassword.invalid}" minlength="8">
                            <div class="invalid-feedback" *ngIf="newPassword.invalid">
                                <div *ngIf="newPassword.errors?.['minlength']"><p>La contraseña debe tener 8 caracteres</p></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="repeatnewpass" class="form-label">Repetir contraseña: </label>
                            <input type="password" id="repeatnewpass" class="form-control" #repeatnewpass>
                            <!-- name="repeatnewpass" [(ngModel)]="this.user.repeatPassword" #repeatnewpass="ngModel" 
                            [ngClass]="{'is-invalid': repeatnewpass.invalid}" minlength="8" required >
                            <div class="invalid-feedback" >
                                <div *ngIf="repeatnewpass.errors?.['minlength']"><p>La contraseña debe tener 8 caracteres</p></div>>
                            </div>   -->
                        </div>

                        <button id="submit" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Guardar cambios</button>
                        <!-- Modal -->
                        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: white;">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title" id="staticBackdropLabel" style="color: black; background-color: white">¡Atencion!</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: black; background-color: transparent;"></button>
                                </div>
                                <div class="modal-body" style="background-color: white"><h3 style="color: black; background-color: white">Se van a realizar cambios en los datos de tu perfil. <br> ¿Estás seguro?</h3>
                            
                                </div>
                                <div class="modal-footer" style="background-color: white">
                                <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal" style="color: white;">Cancelar</button>
                                <button type="button" class="btn btn-guardar" data-bs-dismiss="modal" style="color: white;" (click)="changeProfile(urlFoto.value,nombreCompleto.value, username.value, fechaNacimiento.value ,telefono.value,mail.value, password.value, newPassword.value, repeatnewpass.value)" >Guardar cambios</button>
                                <!-- <button type="button" class="btn btn-guardar" data-bs-dismiss="modal" (click)="onSubmit(editarPerfilForm)" >Guardar cambios</button> -->
                                </div> 
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </article>
        

    </section>

    <div>

    </div>
</main>


