*{
    background-color: var(--fondoOscuro);   
 }

/* Main */
main{
    height: 100vh;
    padding-top: 12vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    background-color: var(--fondoOscuro);
    color: white;
 }

 /* Imagen Usuario */
.img-user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2vh 1vh 0vh 1vh;
    margin-bottom: 3vh;
 }
 #img2{
    box-sizing: border-box;
    border-radius: 100%;
    height: 129px;
    width: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -9px;
    box-shadow: 0 0 10px var(--fontColor);
    box-sizing: border-box;
    margin-top: 13px;
}


/* Content, Datos personales, mail y telefono */
.content{
    justify-content: center;
    padding: 2vh 2vh 15vh 2vh; 
    display: flex;
    flex-direction: column;
 }
.data{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.data-content{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
.data-content-icon{
    width: 30%;
    padding: 0vh 1vh 0vh 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .data-content-content2{
    width: 70%;
    padding: 0vh 1vh 0vh 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
 } 

 .slash{
    border-top: 1px solid var(--primaryButton);
    border-bottom: 1px solid var(--primaryButton);
 } 


 /* Boton Editar Datos */
 .content-text-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .collapse,.colapsentero{
    margin-top: 0.1rem;
}

.edit-data{
    width: 100%;
}

.form-data{
    margin: 10px;
}

.btn{
    font-weight: 500;
    height: auto;
    border-radius: 0.25rem;
    border: #fff;
    background: black;
      background-color: black;
    box-shadow: 2px 2px 1vh var(--secundaryButton);
    color: var(--fontColor);
    background-color: var(--fontColor2);
    width: 50%;
    margin-left: 25%;
}

button{
    border: none;
}

.card{
    margin: 10px 5px 30px 5px;
}

a{
    color: var(--fontColor);
    
}

/* Input */
input{
    background-color: white;
 }

/* Boton Guardar Cambios */
#submit{
    width: 90%;
    background-color: var(--secundaryButton);
    box-shadow: none;
    margin-left: 5%;
}
#sub-title{
    text-decoration: none;
}

/* //Modal */
.btn-cancelar{
    background-color: var(--fontColor);
    color: var(--fontColor2)
}
.btn-guardar{
    background-color: var(--secundaryButton);
    color: var(--fontColor2);
}
.modal {
    position: fixed;
    top: 25vh;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100vw ;
    height:fit-content ;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    color: var(--fontColor);
}
#staticBackdrop{
    width: 100vw;
 }
 
 .modal-body{
    color: var(--fontColor)
 }
 .firstPart{
 margin-top: 6vh;
 color: var(--fontColor2);
 }


