<app-header></app-header>


<body>
    <section class="img-user">
        <img src="" alt=""> 
    </section>
    
    <section class="content">
        <article class="content-text">
            <header class="content-text-header">
                <div id="title">
                    <h3 >Mis datos</h3>
                </div>
                <div id="link">
                   <a href="" id=""><h3>Editar datos</h3></a> 
                </div>
                
                
            </header>
            <div>
                <p>Nombre: </p>
                <p>Apellido: </p>
                <p>Usuario: </p>
                <p>Preferencias: </p>
            </div>

        </article>
        <article class="content-buttons">
            <button  type="button">Eventos creados</button>
            <button  type="button">Historial eventos</button>
            <button type="button">Eventos guardados</button>
            <button type="button">Historial eventos</button>
            

        </article>

    </section>


</body>

<!-- <p>profile works!</p> -->

