body{ 
    background-color:var(--bgColor);
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 120vh;
}
.choose-date1{
    color: var(--fontColor2);
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border-color: transparent;
}

.btn-btn-success{
    margin-left: 19%;
    margin-top: -1vh;
}

#miBoton:focus{
    background-color: transparent;
    color: var(--fontColor);
}
.card-title{
    line-height:2vh;
}