

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstPart{
    background-color:var(--fontColor2);
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: -7%;

   
}
.hr{
    width:90%;
    margin-left: 5%;
    margin-top: -1%;
}
.input-1 {
    box-shadow: 0 0 2vh var(--primaryButton);
    text-align: center;
    width: 80%;
    height: 6%;
    margin-left: auto;
    margin-right: auto;
    line-height: 4vh;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 6vh;
    margin-top: 3vh;
}

.input-1::placeholder{
    background-image: url('../../../assets/img/lupa.png');
    background-position:1vw;
    background-size: 4vh;
    background-repeat:no-repeat;
}
.card{
    margin-top: 2vh;
    box-shadow: 0 0 2vh var(--primaryButton);
    max-height: 80%;
    margin-left:3% ;
    margin-right:3%;
    display: flex;
    flex-direction: row;
}


img{
    width: 140%;
    height: 80%; 
    margin-top: 15%; 
    margin-left: 15%; 
    border-radius: 0.25rem;
}
#save{
    width:3vh; 
    height:3vh;
    fill:currentColor;
}
.all-card-text{
    margin-top: -1.5vh; 
    margin-left: 6vh;
}
.container{
    margin-top: 2vh;  
}
.col-4{
    width: 30%;
}
.buttonSave{
    position: absolute; 
    left: 90%;
    top: 13%;
    width: 3vh;
    height: 3vh;
    background-color: transparent;
    border-color: transparent;
}

.right{
    line-height: 0.2vh;
    margin-left: 20%;
    margin-top: 4.5vh;
}


