
<body>
    <h1 style="padding-top: 3vh;">Eventos guardados</h1>
     <hr>
    <div class="button-information" style="padding-top: 2vh;">
        <input type="date" class="choose-date1" placeholder="Fecha">
    </div>
    <div class="container" style=" padding-top: 4vh;">
        <div class="card" style="border: solid, 1px, black;  max-height: 60%;">
            <div class="row g-">
              <div class="col-4">
                <img src="../../../assets/img/fotoVK.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 100%;">
              </div>
              <div class="col-8">
                <div class="card-body">
                    <button type="button" class="btn-btn-success" style="width: 5.5vh; border-radius: 50%; margin-left: 90%; margin-top: ovh; background-color: transparent; border-color: transparent;" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" onclick="changeColor()">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                    </button>
                   <p class="card-text"><small class="text-muted">9.12.2021 a las 12:00</small></p>
                   <h5 class="card-title">Buscamos Compañera de Equipo</h5>
                   <p class="card-text">Portera</p>
                   <p class="card-text">Canchas de Vallecas</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <div class="container" style=" padding-top: 4vh;">
        <div class="card" style="border: solid, 1px, black;  max-height: 60%;">
            <div class="row g-">
              <div class="col-4">
                <img src="../../../assets/img/fotoVK.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 100%;">
              </div>
              <div class="col-8">
                <div class="card-body">
                    <button type="button" class="btn-btn-success" style="width: 5.5vh; border-radius: 50%; margin-left: 90%; margin-top: ovh; background-color: transparent; border-color: transparent;" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" onclick="changeColor()">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                    </button>
                   <p class="card-text"><small class="text-muted">9.12.2021 a las 12:00</small></p>
                   <h5 class="card-title">Buscamos Compañera de Equipo</h5>
                   <p class="card-text">Portera</p>
                   <p class="card-text">Canchas de Vallecas</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <div class="container" style=" padding-top: 4vh;">
        <div class="card" style="border: solid, 1px, black;  max-height: 60%;">
            <div class="row g-">
              <div class="col-4">
                <img src="../../../assets/img/fotoVK.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 100%;">
              </div>
              <div class="col-8">
                <div class="card-body">
                    <button type="button" class="btn-btn-success" style="width: 5.5vh; border-radius: 50%; margin-left: 90%; margin-top: ovh; background-color: transparent; border-color: transparent;" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" onclick="changeColor()">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                    </button>
                   <p class="card-text"><small class="text-muted">9.12.2021 a las 12:00</small></p>
                   <h5 class="card-title">Buscamos Compañera de Equipo</h5>
                   <p class="card-text">Portera</p>
                   <p class="card-text">Canchas de Vallecas</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <div class="container" style=" padding-top: 4vh;">
        <div class="card" style="border: solid, 1px, black;  max-height: 60%;">
            <div class="row g-">
              <div class="col-4">
                <img src="../../../assets/img/fotoVK.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 100%;">
              </div>
              <div class="col-8">
                <div class="card-body">
                    <button type="button" class="btn-btn-success" style="width: 5.5vh; border-radius: 50%; margin-left: 90%; margin-top: ovh; background-color: transparent; border-color: transparent;" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" onclick="changeColor()">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                    </button>
                   <p class="card-text"><small class="text-muted">9.12.2021 a las 12:00</small></p>
                   <h5 class="card-title">Buscamos Compañera de Equipo</h5>
                   <p class="card-text">Portera</p>
                   <p class="card-text">Canchas de Vallecas</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <div class="container" style=" padding-top: 4vh;">
        <div class="card" style="border: solid, 1px, black;  max-height: 60%;">
            <div class="row g-">
              <div class="col-4">
                <img src="../../../assets/img/fotoVK.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 100%;">
              </div>
              <div class="col-8">
                <div class="card-body">
                    <button type="button" class="btn-btn-success" style="width: 5.5vh; border-radius: 50%; margin-left: 90%; margin-top: ovh; background-color: transparent; border-color: transparent;" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" onclick="changeColor()">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                    </button>
                   <p class="card-text"><small class="text-muted">9.12.2021 a las 12:00</small></p>
                   <h5 class="card-title">Buscamos Compañera de Equipo</h5>
                   <p class="card-text">Portera</p>
                   <p class="card-text">Canchas de Vallecas</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <div class="container" style=" padding-top: 4vh;">
        <div class="card" style="border: solid, 1px, black;  max-height: 60%;">
            <div class="row g-">
              <div class="col-4">
                <img src="../../../assets/img/fotoVK.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 100%;">
              </div>
              <div class="col-8">
                <div class="card-body">
                    <button type="button" class="btn-btn-success" style="width: 5.5vh; border-radius: 50%; margin-left: 90%; margin-top: ovh; background-color: transparent; border-color: transparent;" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" onclick="changeColor()">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                    </button>
                   <p class="card-text"><small class="text-muted">9.12.2021 a las 12:00</small></p>
                   <h5 class="card-title">Buscamos Compañera de Equipo</h5>
                   <p class="card-text">Portera</p>
                   <p class="card-text">Canchas de Vallecas</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
  
</body>
