.loginContainer{
    width: 100vw;
    height:100vh;
    background-color: black;
    overflow: hidden;
}
.labelText{
    color: var(--fontColor2);
}
.divLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgLogo{
    margin-top: 2vh;
    width: 94vw;
    height: 65vw;
}
.centro{
    height: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.center{
    text-align: center;
    margin-top: 6vh;
    line-height: 1.5vh;
}
.bottomLinks{
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: white;
    border-top-left-radius: 40px 20px;
    border-top-right-radius: 40px 20px;
}
.btn-black{
    background-color:var(--bgColor);
    color:var(--fontColor2);
    width: 50vw;
    border-radius: 50px;
    font-family: Ubuntu;
    font-weight: bolder;
    border: 1px solid white;

    /* background-color: var(--bgColor);
    color: var(--fontColor2);
    width: 50vw;
    border-radius: 13px;
    font-family: Ubuntu;
    font-weight: bolder;
    border: 1px solid white; */
}


.link{
    color:var(--mainColor);
    font-weight: bold;
}
a{
    text-decoration: none;
}
a :visited{
    text-decoration: none;
    color:var(--mainColor);
    font-weight: bold;
}