.loginContainer{
    height:100vh; 
    background-image:url('../../../assets/img/fondo.png');
    background-size: cover;
}
.labelText{
    color: var(--fontColor2);
}
.divLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgLogo{
    width: 75%;
}
.center{
    text-align: center;
    margin-top: 40px;
}
.bottomLinks{
    margin-top: 110px;
}
.btn-black{
    background-color:#27241E;
    color:var(--fontColor2);
    width: 50vw;
    border-radius: 50px;
}

button{
    font-family: Ubuntu;
    font-weight: bolder;
}