.loginContainer{
    height:100vh; 
    background-image:url('../../../assets/img/fondo.png');
    background-size: cover;
}
.labelText{
    color: var(--fontColor2);
}
.divLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgLogo{
    margin-top: 2vh;
    width: 75vw;
}
.center{
    text-align: center;
    margin-top: 6vh;
}
.bottomLinks{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-right: 10vw;
}
.btn-black{
    background-color:#27241E;
    color:var(--fontColor2);
    width: 50vw;
    border-radius: 50px;
    font-family: Ubuntu;
    font-weight: bolder;
    border: 1px solid white;
}

.link{
    color:var(--mainColor);
    font-weight: bold;
}
a{
    text-decoration: none;
}
a :visited{
    text-decoration: none;
    color:var(--mainColor);
    font-weight: bold;
}