<!-- QUINTA SLIDE -->
<div class="body"> 
    <div class="container">
        <img src="../../../../assets/img/captAddEvent.png" style="max-width: 30vh; max-height: 45vh; margin-top: -18vh;">
        <hr>
        <p style="text-align: justify; padding-left: 5vh; padding-right: 5vh">¿Buscas gente para practicar algún deporte? Crea tus eventos desde nuestro botón</p>
        <a routerLink="/onboarding4" class="arrow left"></a>
        <a routerLink="/onboarding6" class="arrow right"></a>
        <span class="circle" style="margin-top: 50vh;">
            <!-- <i class="fa fa-arrow-down" ></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="6vh" height="7vh" fill="currentColor" class="bi bi-arrow-down fa" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </span>
    </div>
    <div class="focus"></div>
</div> 
