main{
    background-color: var(--fondoOscuro); 
    color: var(--fontColor2);
    
} 

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* padding-top: 12vh; */
    padding-top: 12vh;
    /* border: 3px solid blue; */
    /* padding-bottom: 15vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

header{
    /* border: 2px solid purple; */

    height: 60px;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    align-items: center;
    

    display: flex;
    flex-direction: row;

    font-size: 1.2rem;
    /* border-bottom: 1px solid var(--primaryButton); */
    font-weight: bold;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.content{

    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    justify-content: center;
    padding: 0vh 3vh 0vh 3vh;

    

    /* text-align: left;
    padding: 1vh;
    padding-bottom: 12vh; */
}

.cardeventslist {
    text-align: left;
    justify-content: center;
    padding: 1vh;
    padding-bottom: 12vh;
}

.card {
    text-align: left;
    justify-content: center;
    width: 100%;
    padding: 3vh;
    box-shadow: 0 0 1vh var(--primaryButton);
    border-radius: 2vh;
    margin: 1vh;
}

.orden {
    display: flex;
    flex-direction: row;
}


.card2 {
    /* text-align: left; */
    
    width: 100%;
    height: 12%;
    padding: 1vh;
    box-shadow: 0 0 1vh var(--primaryButton);
    border-radius: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
}
.chat-img-container{
    width: 15%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */

}

.chat-img{
    border-radius: 100%;
    width: 7vh;
    height: 7vh;
}

.chat-data{
    width: 85%;
    /* border: 2px solid black; */
    display: flex;
}

.chat-data-name{
    width: 80%;
    /* border: 1px solid black; */
    align-items: flex-start;
    justify-content: center;
    padding-left: 2vh;
    /* padding-top: 2.5vh;
    padding-left: 2vh; */
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;

}

.chat-data-time{
    width: 20%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    /* padding-top: 2.5vh; */
    font-size: 0.6rem;

    display: flex;
    flex-direction: column;
}






.contact{

    /* border: 5px solid red; */
    width: 100%;
    height: 80px;

    display: flex;
    

    justify-content: center;
    align-items: center;

    padding: 1%;
    
}

.contact-img{
    /* justify-content: center;
    align-items: center; */

    /* border: 1px solid black; */
    width: 15%;
    height: 100%;
    
}

img{

    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* padding: 2px; */
    display: flex;
    justify-content: center;
    align-items: center; 

    /* margin-top: 5%;
    margin-left: 5%; */
    
}

.contact-title{

    /* border: 1px solid black; */
    height: 100%;
    width: 70%;
    /* padding: 2px; */

    display:flex;
    flex-direction: row;

    justify-content: flex-start;
    
}

.contact-title-chat{
    align-items: center;
    /* border: 1px solid rosybrown; */
    height: 60%;
    width: 80%;
    padding: 5%;
    padding-top: 10%;
    /* display: flex; */
}

/* .contact-title-lastMessage{
    align-items: center;

    border: 1px solid royalblue;
    height: 40%;
    width: 100%;
    padding: 2%;
    padding-left: 5%;

    font-size: 0.8rem;
} */

.contact-time{
    align-items: center;
    /* border: 1px solid rosybrown; */
    height: 100%;
    width: 20%;
    padding: 5%;
    padding-top: 10%;

    font-size: 0.6rem;

    /* height: 100%;
    width: 10%;
    padding-top: 2%; */

    /* border: 1px solid black; */
    
    /* justify-content: flex-start;
    align-items: flex-start; */

}
hr{
    color: white solid;
    width: 96%;
    margin-left: -15%;
    margin-right: 2%;
    margin-top: 11%;
}