<main>
    <header>
        
        <div class="title"> 
            <h1>
                Chats
            </h1>
            
        </div>
        <hr>
    
    </header>
    <section class="content">
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/Rayo-Vallecano-fenemino.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <!-- <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article>
        <article class="card2" routerLink="/chat-id">
            <article class="chat-img-container">
                <img src="../../../assets/img/user1.jpg" alt="" class="chat-img">
            </article>
            <article class="chat-data">
                <div class="chat-data-name">
                    <div style="align-items: center;">
                        javier6473 
                    </div>
                    
                </div>
                <div class="chat-data-time">
                    <div style="align-items: center;">
                        14:45
                    </div>
                    
                </div>

            </article>
        </article> -->
    </section>
    
   

</main>
