 
<div class="searcher">
  <h1 style="margin-top: 4vh;">Mis eventos</h1>
     <hr class="hr">
</div> 

<div class="container" >
  <div class="card">
    <div class="row g-">
      <div class="col-4">
          <img src="../../../assets/img/correr-1.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 80%; margin-top: 15%; margin-left: 15%; border-radius: 0.25rem;">
      </div>
      <div class="col-8">
        <div class="card-body">
           <!-- <div class="TitleCard" style="display: flex; flex-direction: row;"><h3 class="card-title" style="line-height: 15px;" routerLink="/event-details" >Gente runner </h3> -->
            <svg  id= 'miBoton'xmlns="http://www.w3.org/2000/svg" class="buttonEdit"  width="5vh" height="5vh"  fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" alt=""  >
              <path type="button" (click)="editor()" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </div>
        <div class="textEvent">
          <p class="card-text" routerLink="/event-details" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/></svg><small style="color: black; "> Gente para patinar</small></p>
          <p class="card-text" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z" /></svg><small style="color: black; "> Domingos diciembre</small></p>
          <p class="card-text" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#currentColor" class="bi bi-geo-alt-fill"  viewBox="0 0 16 16"> <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" /></svg ><small style="color: black; "> Madrid Centro</small></p>
          <p class="card-text" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/><path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg><small style="color: black;"> 5 personas</small></p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="btn-group" role="group" aria-label="Basic example"*ngIf="siClick === true ">
  <button type="button" class="btn btn-warning" style="background-color: var( --fontColor); color: var(--fontColor2); border-color: var( --fontColor); width: 20vh;">Editar</button>
  <button type="button" class="btn btn-danger" style="background-color: var(--mainColor); width: 20vh;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Eliminar</button>
</div> 
<!-- MODAL -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title" id="staticBackdropLabel">¡Atencion!</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><h3>Se va a eliminar tu evento. <br> ¿Estás seguro?</h3>
     
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-guardar" >Guardar cambios</button>
      </div>
  </div>
  </div>
</div>
<div class="container" >
  <div class="card">
    <div class="row g-">
      <div class="col-4">
          <img src="../../../assets/img/correr-1.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 80%; margin-top: 15%; margin-left: 15%; border-radius: 0.25rem;">
      </div>
      <div class="col-8">
        <div class="card-body">
           <!-- <div class="TitleCard" style="display: flex; flex-direction: row;"><h3 class="card-title" style="line-height: 15px;" routerLink="/event-details" >Gente runner </h3> -->
            <svg  id= 'miBoton'xmlns="http://www.w3.org/2000/svg" class="buttonEdit"  width="5vh" height="5vh"  fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" alt=""  >
              <path type="button" (click)="editor()" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </div>
        <div class="textEvent">
          <p class="card-text" routerLink="/event-details" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/></svg><small style="color: black; "> Gente para patinar</small></p>
          <p class="card-text" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z" /></svg><small style="color: black; "> Domingos diciembre</small></p>
          <p class="card-text" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#currentColor" class="bi bi-geo-alt-fill"  viewBox="0 0 16 16"> <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" /></svg ><small style="color: black; "> Madrid Centro</small></p>
          <p class="card-text" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/><path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg><small style="color: black;"> 5 personas</small></p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="btn-group" role="group" aria-label="Basic example"*ngIf="siClick === true ">
  <button type="button" class="btn btn-warning" style="background-color: var( --fontColor); color: var(--fontColor2); border-color: var( --fontColor); width: 20vh;">Editar</button>
  <button type="button" class="btn btn-danger" style="background-color: var(--mainColor); width: 20vh;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Eliminar</button>
</div> 
<!-- MODAL -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title" id="staticBackdropLabel">¡Atencion!</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><h3>Se va a eliminar tu evento. <br> ¿Estás seguro?</h3>
     
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-guardar" >Guardar cambios</button>
      </div>
  </div>
  </div>
</div>
<div class="container" >
  <div class="card">
    <div class="row g-">
      <div class="col-4">
          <img src="../../../assets/img/correr-1.jpg" class="img-fluid-rounded-start" alt="..." style=" width: 140%; height: 80%; margin-top: 15%; margin-left: 15%; border-radius: 0.25rem;">
      </div>
      <div class="col-8">
        <div class="card-body">
           <!-- <div class="TitleCard" style="display: flex; flex-direction: row;"><h3 class="card-title" style="line-height: 15px;" routerLink="/event-details" >Gente runner </h3> -->
            <svg  id= 'miBoton'xmlns="http://www.w3.org/2000/svg" class="buttonEdit"  width="5vh" height="5vh"  fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" alt=""  >
              <path type="button" (click)="editor()" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </div>
        <div class="textEvent">
          <p class="card-text" routerLink="/event-details" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/></svg><small style="color: black; "> Gente para patinar</small></p>
          <p class="card-text" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z" /></svg><small style="color: black; "> Domingos diciembre</small></p>
          <p class="card-text" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#currentColor" class="bi bi-geo-alt-fill"  viewBox="0 0 16 16"> <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" /></svg ><small style="color: black; "> Madrid Centro</small></p>
          <p class="card-text" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/><path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg><small style="color: black;"> 5 personas</small></p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="btn-group" role="group" aria-label="Basic example"*ngIf="siClick === true ">
  <button type="button" class="btn btn-warning" style="background-color: var( --fontColor); color: var(--fontColor2); border-color: var( --fontColor); width: 20vh;">Editar</button>
  <button type="button" class="btn btn-danger" style="background-color: var(--mainColor); width: 20vh;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Eliminar</button>
</div> 
<!-- MODAL -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title" id="staticBackdropLabel">¡Atencion!</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><h3>Se va a eliminar tu evento. <br> ¿Estás seguro?</h3>
     
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-guardar" >Guardar cambios</button>
      </div>
  </div>
  </div>
</div>


<div class="final"></div>






