body{
   background-color:var(--bgColor);
   display: flex;
   flex-direction: column;
   margin-top: 18%;
   margin-bottom: 13vh;
}
h1{
   text-align: center;
}
.card-body{
   text-align: left;
   margin-left: 6vh;
}
.buttonEdit{
   margin-top: 2vh;
   margin-left: 6vh;
   
}


.btn-group{
   margin-left:  auto;
   margin-right: auto;
   margin-top: 3vh; 
   width:200px;
   height:40px;
   padding:0 8px;
   border:none; 
  
   border-radius: 0.25rem;
   display: flex;
   flex-direction: row;   
}
.edit{
  text-align: center;
  color: var(--fontColor);
  background-color: var(--secundaryButton);
  border-color: transparent;
  margin-left: 1%;
  
}
.delete{
   text-align: center;
   color: var(--fontColor);
   background-color: var(--mainColor);
   border-color: transparent;
   margin-left: 40%;
}