<body style="overflow: scroll;">
    <h1>Mis eventos</h1>
    <div class="cards" >
                <div class="card1" >
                    <div class="information-col-6">
                        <h2 class="Title">Buscamos <br> jugadora</h2>
                        <div class="information-card">
                            <p>13/05/2022
                            <br> Vallecas
                            <br>1 portera</p>
                        </div>   
                    </div>
                    <nav>
                        <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
                        <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
                    </nav>
                </div>
    </div>
    <nav class="buttonsEditDelete" *ngIf="siClick === true ">
        <button type="button" class="edit"> Editar</button>
        <button type="button" class="delete">Eliminar</button>
    </nav>
    <div class="cards" >
        <div class="card1" >
            <div class="information-col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
            <nav>
                <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
                <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
            </nav>
        </div>
</div>
<nav class="buttonsEditDelete" *ngIf="siClick === true ">
<button type="button" class="edit"> Editar</button>
<button type="button" class="delete">Eliminar</button>
</nav>
<div class="cards" >
    <div class="card1" >
        <div class="information-col-6">
            <h2 class="Title">Buscamos <br> jugadora</h2>
            <div class="information-card">
                <p>13/05/2022
                <br> Vallecas
                <br>1 portera</p>
            </div>   
        </div>
        <nav>
            <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
            <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
        </nav>
    </div>
</div>
<nav class="buttonsEditDelete" *ngIf="siClick === true ">
<button type="button" class="edit"> Editar</button>
<button type="button" class="delete">Eliminar</button>
</nav>
<div class="cards" >
    <div class="card1" >
        <div class="information-col-6">
            <h2 class="Title">Buscamos <br> jugadora</h2>
            <div class="information-card">
                <p>13/05/2022
                <br> Vallecas
                <br>1 portera</p>
            </div>   
        </div>
        <nav>
            <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
            <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
        </nav>
    </div>
</div>
<nav class="buttonsEditDelete" *ngIf="siClick === true ">
<button type="button" class="edit"> Editar</button>
<button type="button" class="delete">Eliminar</button>
</nav>
<div class="cards" >
    <div class="card1" >
        <div class="information-col-6">
            <h2 class="Title">Buscamos <br> jugadora</h2>
            <div class="information-card">
                <p>13/05/2022
                <br> Vallecas
                <br>1 portera</p>
            </div>   
        </div>
        <nav>
            <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
            <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
        </nav>
    </div>
</div>
<nav class="buttonsEditDelete" *ngIf="siClick === true ">
<button type="button" class="edit"> Editar</button>
<button type="button" class="delete">Eliminar</button>
</nav>
<div class="cards" >
    <div class="card1" >
        <div class="information-col-6">
            <h2 class="Title">Buscamos <br> jugadora</h2>
            <div class="information-card">
                <p>13/05/2022
                <br> Vallecas
                <br>1 portera</p>
            </div>   
        </div>
        <nav>
            <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
            <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
        </nav>
    </div>
</div>
<nav class="buttonsEditDelete" *ngIf="siClick === true ">
<button type="button" class="edit"> Editar</button>
<button type="button" class="delete">Eliminar</button>
</nav>
<div class="cards" >
    <div class="card1" >
        <div class="information-col-6">
            <h2 class="Title">Buscamos <br> jugadora</h2>
            <div class="information-card">
                <p>13/05/2022
                <br> Vallecas
                <br>1 portera</p>
            </div>   
        </div>
        <nav>
            <img class="buttonEdit" src="../../../assets/img/puntos.png" alt="" type="button" (click)="editor()">
            <img class="photo" src="../../../assets/img/Rayo-Vallecano-fenemino.jpg"  alt=""> 
        </nav>
    </div>
    <nav class="buttonsEditDelete" *ngIf="siClick === true ">
        <button type="button" class="edit"> Editar</button>
        <button type="button" class="delete">Eliminar</button>
        </nav>
</div>


   
</body>
