
.searcher{
   margin-top: 13vh;
}
body{
   background-color:var(--fondoOscuro);
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   scroll-behavior:initial ;
   color: white;
  
   margin-top: -2%;
}
.hr{
   
   width: 90%;
   margin-left: 5%;
   margin-top: 2vh;
}
h1{
   text-align: center;
}
#miBoton{
   margin-top: -5vh;
   margin-left: 87%;
}
.btn-group{
   /* margin-left:  auto;
   margin-right: auto; */
   margin-top: 3vh; 
   width:50%;
   height:40px;
   padding:0 8px;
   border:none; 
   border-radius: 0.25rem;
   margin-left: 25%;
   margin-right: 25%;
} 
 .edit{
  text-align: center;
  color: var(--fontColor);
  background-color: var( --fontColor);
  border-color: transparent;
  
} 
.delete{
   text-align: center;
   color: var(--fontColor);
   background-color: var(--mainColor);
   border-color: transparent; 
}
.textEvent{
   margin-left: 20%;
   margin-top: -18%;
}
.container{
   margin-top: 2vh;
   width: 100%;
}
.final{
   margin-bottom: 15vh;
}

#staticBackdrop{
   width: 100vw;
}
.card{
   margin-top: 3vh;
   box-shadow: 0px 0px 0.5vh var(--primaryButton);
   max-height: 80%;
   margin-left: 3%;
   margin-right: 3%;
   display: flex;
   flex-direction: row;
   width: 94%;
   background-color: var(--fondoOscuro);
   color: white;
}
img{
   width: 136%;
   height: 81%;
   max-height: 100%;
   margin-top: 15%; 
   margin-left: 15%; 
   border-radius: 0.25rem;
}
.all-card-text{
   margin-top: -1.5vh; 
   margin-left: 6vh;
}
/* .container{
   margin-top: -3vh;  
} */
.col-4{
   width: 30%;
}
.buttonEdit{
   position: absolute; 
   left: 88%;
   top: 13%;
   width: 3vh;
   height: 3vh;
   background-color: transparent;
   border-color: transparent;
}
.buttonTrash{
   position: absolute; 
   left: 88%;
   top: 79%;
   width: 3vh;
   height: 3vh;
   background-color: transparent;
   border-color: transparent;
}
.left{
   margin-top: -1vh;
   margin-left: -1vh;
   width: 30%;
}

.right{
   line-height: 0.2vh;
   margin-left: 12%;
   margin-top: 2vh;
   width: 60%;
}
.texto{
   margin-left: 19%;
   height: 90%;
   width: 88%;
   text-align:left ;
}
.btn-cancelar{
   background-color: var(--fontColor);
   color: var(--fontColor2)
}
.btn-guardar{
   background-color: var(--mainColor);
   color: var(--fontColor2);
}
.modal {
   position: fixed;
   top: 25vh;
   left: 0;
   z-index: 1055;
   display: none;
   width: fit-content;
   height: fit-content;
   overflow-x: hidden;
   overflow-y: auto;
   outline: 0;
}