* {
   background-color: var(--fondoOscuro);
    box-sizing: border-box;
    padding: auto;
}
 
img{
    width: 140%;
    height: 80%; 
    margin-top: 15%; 
    margin-left: 15%; 
    border-radius: 0.25rem;
    object-fit: cover;
}

.firstPart{
    background-color: var(--fondoOscuro);
    display: flex;
    flex-direction: column;
    margin-top: 16%;
    text-align: center;
    margin-bottom: -7%;
    color: white;
    padding: auto;
   
}

/* Imput Buscador */
.firstPart2{
    display: flex;
    flex-direction: row;
    width: 99%;
    margin-top: 4vh;
  
}

.input-1 {
    box-shadow: 0px 0px 1vh var(--primaryButton);
    text-align: center;
    width: 132vh;
    height: 6%;
    margin-left: 3.5vh;
    line-height: 4vh;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 6vh;
    margin-top: 3vh;
}

/* Boto Buscador    */
.firstPart3{
    width: 4vh;
    height: 4vh;
    margin-top: 3vh;
    background-color: var(--fondoOscuro);
    box-shadow: 0px 0px 0.5vh var(--primaryButton);
    border: transparent;
    border-radius: 0.25rem;
    margin-left: 1vh;
    color: white;
}

.botones{
    display: flex;
    flex-direction: row;
    width: 38%;
    margin-left: 2vh;
   
}

.hr{
    width:90%;
    margin-left: 5%;
    margin-top: -1%;
}

/* Altura Entre Card e Input */
.container{
    padding-bottom: 18vh;  
    margin-top: -4vh;
}

/* Card */
.card{
    margin-top: 3vh;
    box-shadow:  0px 0px 1vh var(--primaryButton);
    max-height: 80%;
    margin-left:3% ;
    margin-right:3%;
    display: flex;
    flex-direction: row;
    width: 95%;
}

.all-card-text{
    margin-top: -1.5vh; 
    margin-left: 6vh;
}

/* Boton Guardado */
.buttonSave{
    position: absolute;
    left: 90%;
    top: 5%;
    width: 3vh;
    height: 3vh;
    background-color: transparent;
    border-color: transparent;
    margin-left: 1.5vh;
}

/* Tamaño Img */
.left{
    width: 30%;
} 

/* Tamaño Segunda Parte Card */
.right{
    line-height: 0.2vh;
    margin-left: 15%;
    margin-top: 2vh;
    width: 60%;
}   
.texto{
    margin-left: 10%;
    height: 90%;
    width: 88%;
    text-align:left ;
}
p{
    line-height: -1vh;
    color: white;
}

/* Color Guardado */
.green {
    color: var(--secundaryButton)
}

/* Color No Guardado */
.red {
    color: white;
}



 /* BUSCADOR POR FECHA Y LUGAR, Dropdown y Estilos */
/* dropdown-toggle::after {
    display: grid;
    margin-left: .89em;
    vertical-align: 0.3em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
} */

/* #dropdownMenuButton1{
    background-color: var(--fondoOscuro);
    margin-right: 3vh;
    color: white;
    margin-top: 3vh;
    width: 4vh;
    height: 4vh;
    border: none;
    box-shadow: 0px 0px 0.5vh var(--primaryButton);
} */

/* 
.choose-date1,.choose-place1{
    margin: inherit;
    text-align: center;
    border: none;
    display: flex;
    flex-direction: row;
    width: 40%;
    outline: none !important;
    color: var(--primaryButton);
    background-color: var(--primaryButton)e;
    border-radius: 00.25rem;
    box-shadow: 0px 0px 1vh var(--primaryButton) ;
    
}  */
/* 
.verticalLine {
    margin-top: 0.75vh;
    height: 3.5vh;
    border-left: thick solid #e7e7e7;
   
}  */