body{
    background-color:var(--fontColor2);
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    text-align: center;
    margin-top: 20%;
    padding-bottom: 17vh;
}

.searcher{
    margin-top: 3vh;
    display: flex;
    flex-direction: row; 
}
.container{
    margin-top: -2vh;
}

.input-1{
    box-shadow: 0 0 2vh var(--primaryButton);
    text-align: center;
    width: 80%;
    height:6xh;
    margin-left: 2vh;
    margin-right: 1vh;
    line-height:28px;
    padding:0 8px;
    border:none; 
    background-color: white;
    border-radius: 5px;
}
.input-1::placeholder{
    background-image: url('../../../assets/img/lupa.png');
    background-position:1vw;
    background-size: 4vh;
    background-repeat:no-repeat;
}

.buttom-1{
    box-shadow: 0 0 2vh var(--primaryButton);
    background-color: white;
    width: 6vh;
    height: 6vh;
    border-radius: 0.25rem;
    border: none;
    
}
.button-information{
    box-shadow: 0 0 2vh var(--primaryButton);
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:6 vh;
    padding:0 8px;
    border:none; 
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}
.choose-date1,.choose-place1{
    margin: auto;
    text-align: center;
    color: --secondaryColorv;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20%;
} 

.verticalLine{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-left: thick solid #d9d9d9; 
    width: 1%;
    background-color: var(--bgColor)
} 
.verticalLine2{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-left: thick solid #d9d9d9; 
    width: 1%;
    background-color: var(--bgColor)
} 


.choose-date1{
    color: var(--secondaryColor);
    border-radius: 15px;
    border-color: transparent;
}

.card-body{
    line-height: 1vh;
    text-align: left;
    margin-left: 5vh;
} 

.btn-btn-success{
    margin-left: 19%;
    margin-top: -1vh;
}

#miBoton{
 
    background-color: transparent;
    color: black;
}


#miBoton:focus{
    background-color: transparent;
    color: var(--secundaryButton);
}

.card-title{
    line-height:3vh;
}

