* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstPart{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;
}
.firstPart1{
    margin-left: 12%;
    width: 168%;
    height: 110%;
    box-shadow: 0 0 2vh var(--primaryButton);
    border: none;
    border-radius: 0.25rem;
}
.firstPart1::placeholder{
    background-image: url('../../../assets/img/lupa.png');
    background-position:1vw;
    background-size: 4vh;
    background-repeat:no-repeat;
}
.firstPart2{
    margin-left: 610%;
    width: 120%;
    height: 110%;
    background-color: transparent;
    box-shadow: 0 0 2vh var(--primaryButton);
    border: transparent;
    border-radius: 0.25rem;
}

.button-information{
    box-shadow: 0 0 2vh var(--primaryButton);
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:16 vh;
    padding:0 8px;
    border-color:transparent; 
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top:3vh;

}

.choose-date1,.choose-place1{
    margin: auto;
    text-align: center;
    color: --secondaryColorv;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20%;
} 

.verticalLine {
    margin-top: 0.75vh;
    height: 2.5vh;
    border-left: thick solid #e7e7e7;
   
}

.card{
    margin-top: 2vh;
    box-shadow: 0 0 2vh var(--primaryButton);
    max-height: 80%;
    margin-left:3% ;
    margin-right:3%;
    display: flex;
    flex-direction: row;
} 

img{
    width: 140%;
    height: 80%; 
    margin-top: 15%; 
    margin-left: 15%; 
    border-radius: 0.25rem;
}

.col-4{
    width: 30%;
}

.buttonSave{
    position: absolute; 
    left: 90%;
    top: 13%;
    width: 3vh;
    height: 3vh;
    background-color: transparent;
    border-color: transparent;
}

.right{
    line-height: 0.2vh;
    margin-left: 20%;
    margin-top: 4.5vh;
}


