<body style="overflow: scroll;">
    <nav class="searcher">
        <input class="input-1" type="text"  placeholder="¿Que deporte quieres?" >
        <!-- meter un click que se una con el button-information -->
        <a class="buttom-1"> <img src="../../../assets/filtrar.png" alt="" style="margin-left: 1px; height: 37px; width: 35px;"> </a>
      
        
    </nav>

    <!-- meter un *ngIf="" -->
   
    <div  >
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        <div class="card1" >
            <div class="col-6 imgCard">
                <img class="photo" src="../../../assets/Rayo-Vallecano-fenemino.jpg" alt="">
            </div>
            
            <div class="information col-6">
                <h2 class="Title">Buscamos <br> jugadora</h2>
                <div class="information-card">
                    <p>13/05/2022
                    <br> Vallecas
                    <br>1 portera</p>
                </div>   
            </div>
        </div>
        
    </div>
</body>
