
.cardeventslist {
    text-align: left;
    padding: 1vh;
    padding-top: 13vh;
    padding-bottom: 93vh;
    background-color: var(--fondoOscuro);
    color: var(--fontColor2);
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: -4vh;
}

.card {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    text-align: left;
    width: 95vw;
    padding: 3vh;
    box-shadow: 0 0 0.5vh var(--primaryButton);
    border-radius: 0.25rem;
    margin: 1vh;
    margin-left: 1vh;
    background-color: var(--fondoOscuro)
}

.orden {
    display: flex;
    flex-direction: column;
}

.etiquetas{
    display: flex;
    flex-direction: row;
}

#linea {
    margin-top: 3vh;
    width: 96%;
    margin-left: 2%;
}
