<!-- <p>about-us works!</p> -->

<!--START ABOUT US-->

<section class="general">
    <h1 class="title">Conócenos</h1>
    <hr>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="IRATEAMS/src/app/assets/img/BartSimpson.png" alt="Foto nuestra">
        </div>
        <div class="descripcion">
            <p class="nombre">Raúl Casás Rivas</p>
            <p class="parrafo">Desarrollador Web y Móvil</p>
            <p>Puedes encontrarme en <a href="https://www.linkedin.com/in/ra%C3%BAl-cas%C3%A1s-rivas-625b90115/" target="_blank">LinkedIn</a></p>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="IRATEAMS/src/app/assets/img/BartSimpson.png" alt="Foto nuestra">
        </div>
        <div class="descripcion">
            <p class="nombre">Daniel Aramburu Galeano</p>
            <p class="parrafo">Desarrollador Web y Móvil</p>
            <p>Puedes encontrarme en <a href="https://www.linkedin.com/in/daniel-aramburu-galeano-b84740225/" target="_blank">LinkedIn</a></p>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="IRATEAMS/src/app/assets/img/BartSimpson.png" alt="Foto nuestra">
        </div>
        <div class="descripcion">
            <p class="nombre">Irati Rodríguez</p>
            <p class="parrafo">Desarrolladora Web y Móvil</p>
            <p>Puedes encontrarme en <a href="https://www.linkedin.com/in/irati-rodriguez-4bbb93218" target="_blank">LinkedIn</a></p>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="IRATEAMS/src/app/assets/img/BartSimpson.png" alt="Foto nuestra">
        </div>
        <div class="descripcion">
            <p class="nombre">Tania Sánchez Moreno</p>
            <p class="parrafo">Desarrolladora Web y Móvil</p>
            <p>Puedes encontrarme en <a href="https://www.linkedin.com/in/tania-s%C3%A1nchez-moreno-027349122/" target="_blank">LinkedIn</a></p>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="IRATEAMS/src/app/assets/img/BartSimpson.png" alt="Foto nuestra">
        </div>
        <div class="descripcion">
            <p class="nombre">Rodrigo</p>
            <p class="parrafo">Desarrollador Web y Móvil</p>
            <p>Puedes encontrarme en <a href="" target="_blank">LinkedIn</a></p>
        </div>
    </section>
</section>

<!--END ABOUT US-->