<!--START ABOUT US-->

<section class="general">
    <h1 class="title">Conócenos</h1>
    <hr>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="../../../assets/img/raul.png" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">Raúl Casás Rivas</p>
            <p class="parrafo">Desarrollador Web y Móvil</p>
            <div class="logo">
                <p class="link"><a href="https://www.linkedin.com/in/ra%C3%BAl-cas%C3%A1s-rivas-625b90115/" target="_blank">
                   <img class="bi bi-linkedin" src="../../../assets/img/linkedin_logo_icon_189225.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="../../../assets/img/Daniel.jpg" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">Daniel Aramburu Galeano</p>
            <p class="parrafo">Desarrollador Web y Móvil</p>
                <div class="logo">
                    <p class="link"><a href="https://www.linkedin.com/in/daniel-aramburu-galeano-b84740225/" target="_blank">
                        <img class="bi bi-linkedin" src="../../../assets/img/linkedin_logo_icon_189225.png" alt="">
                    </a>
                </div>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="../../../assets/img/irati.png" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">Irati Rodríguez</p>
            <p class="parrafo">Desarrolladora Web y Móvil</p>
                <div class="logo"> 
                    <p class="link"><a href="https://www.linkedin.com/in/irati-rodriguez-4bbb93218/" target="_blank">
                        <img class="bi bi-linkedin" src="../../../assets/img/linkedin_logo_icon_189225.png" alt="">    
                    </a>
                </div>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="../../../assets/img/tania.png" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">Tania Sánchez Moreno</p>
            <p class="parrafo">Desarrolladora Web y Móvil</p>
            <div class="logo">
                <p class="link"><a href="https://www.linkedin.com/in/tania-s%C3%A1nchez-moreno-027349122/" target="_blank">
                    <img class="bi bi-linkedin" src="../../../assets/img/linkedin_logo_icon_189225.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="persona">
        <div class="cajafoto">
            <img class="foto" src="../../../assets/img/ro.png" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">Rodrigo Arias Bardaji</p>
            <p class="parrafo">Desarrollador Web y Móvil</p>
            <div class="logo">
                <p class="link"><a href="https://www.linkedin.com/in/rodrigo-arias-bardaji/" target="_blank">
                    <img class="bi bi-linkedin" src="../../../assets/img/linkedin_logo_icon_189225.png" alt="">
                </a>
            </div>
        </div>
    </section>
</section>

<!--END ABOUT US-->