@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root{
    --bgColor: #D9D9D9;
    --mainColor: #94D212;
    --secondaryColor: #545454;
    --bgColor2: #ffffff; 
    --fontColor: rgb(0, 0, 0);
    --fontColor2: #ffffff;
}
body{
    font-size: px;
}
h1,h2,h3{
    font-family: Ubuntu;
}
p{
    font-family: Sintony;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.25rem;
}
h3{
    font-size: 1rem;
}
p{
    font-size: 0.8rem;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */